.footer-content {
  padding: 20px 0;
  text-align: center;
}

.footer-content p {
  font-size: 14px;
  color: #888888;
}

.footer-content-link {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 10px;

  a {
    font-size: 12px;
  }
}
